body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Montserrat";
}

a{
    text-decoration: none;
}

.conatainer{
    display: flex;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
   
    box-sizing: border-box;
}

.first-row{
   width: 17%; 
   background-image: url(../../assets/dashboard/dashboardbg.svg);
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   
   background-color: white;
   padding: 10px;
   
 

}
.first-row img{
  
    width: 85%;
    height: 25px;
    margin-top: 20px;
}
.search{
    display: flex;
    align-items: center;
    /* margin-top: 75px; */
    background-color: #A67DFF;
    height: 30px;
    border: border;
    border-radius: 10px;
    width: 100%;
}
.search i{
    padding-right: 5px;
    cursor: pointer;
    color: white;
}
.search input{
    /* margin-top:2px; */
    margin-left:5px;
    border: none;
    outline: none;
    height: 25px;
    width: 100%;
    background-color: #A67DFF;
}
input::placeholder {
    color: white;
  }
.nav-items{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;

    
    
}
#nav-items h3{
    font-size:0.8rem;
}
.nav_elements{
   
    display: flex;
    align-items: center;
    height: 40px;
    border: border;
    border-radius: 10px;
    color: white;
   
    width: 100%;
}
.nav_elements i{
    margin-left: 20px;
    margin-right: 20px;
    height: 24;
    width: 24;
}
.nav_elements h3{
    font-weight: normal;
    font-size: 15px;
}
#tricks h3{
    padding-right:15px;
}
.selected {
    background-color: #471CA5;
}
.notselected{
    background-color: #9477D4;
}
.pointer{
    cursor: pointer;
}
.cursor{
    cursor: default;
}

.menu
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.savedItem
{
    width:90%;
    margin-top:5px;
    height:30px;background-color:#471CA5;
    border-radius:10px;display:flex;
    gap:10px;flex-direction:row;
    align-items:center;
    justify-content:start;
    padding:10px;
}

.savedItem:hover
{
    background-color: #A67DFF;
}

.popupContainer
{
    position: fixed;height: 100vh;width: 100vw;background-color:  rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
  
}

.popupContainer>div
{
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
   
    padding: 20px;
    gap: 10px;
}

.popupContainer>div input
{
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(236, 234, 234);
    
}

.popupContainer>div button
{
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color:#8061C3;
    color: white;
    
}
.popupContainer>div>div
{
   display: flex;
   justify-content: space-between;
   gap: 10px;
   
    
}
.fa-solid:hover{
    color: white;
}
.curser{
    cursor: default;
}

.experion img{
    
   height: 40px;
   width: 90%;
   margin-bottom: 20px;
}
/* -----------------------SECOND ROW------------------------------------------------ */
.second-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
   
  }

.second-row::-webkit-scrollbar {
    display: none;
}
.profile{
    margin-top: 20px;
    margin-left: 100%;
    
}

.profile i{
    color: #471CA5;
    font-size: 20px;
}
.profile.pointer {
    cursor: pointer;
    position: relative;
    font-size: 24px; 
}
.profile-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 0px;
}
.profile-name img{
     width:50px;
     height: auto;
     padding: 0px;
     margin: 0px;
}


.popup-menu {
    
    display: none; 
    position: absolute;
    top: 45px; 
    right: 2%;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 10;
    border-radius: 5px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu-item {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color:#8061C3;
    color: white;
    width: 90px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu-item i{
    font-size: 10px;
}

.menu-item:hover {
    background-color: #471CA5;
    /* font-size: 20px; */
}
/* ---------------------------------------- */
.design {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/dashboard/top-panel.svg);
    background-size: cover;
    width:100% ;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    border-radius: 10px;
}

/* ----------------------------------------------------------- */
.preset{
    /* padding-bottom: 0px; */
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}
.preset div{
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;

}
.preset-img {
    width: 60px; 
    height: 60px; 
    display: inline-block;
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .preset-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease;
  }
  
  .preset-img:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3); 
  }
  
  .preset-img:hover img {
    transform: scale(1.1); 
  }

  .preset p{
    font-size: 15px;
  }
  
/* ------------------------------------------------------ */

.temp{
    margin-top: -5px;
    margin-left: 30px;
    /* margin-right: 30px; */

}
.temp h4{
    margin-top: 0px;
}
.grid-temp{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
    grid-gap:40px;
    
}


.grid-temp div {
    border: border;       
    border-radius: 10px;         
    transition: transform 0.5s;   
    box-shadow: 0 4px 10px rgba(123, 122, 122, 0.2); 
    overflow: hidden;            
}

.grid-temp div:hover {
    
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}
.grid-temp img {
    width: 100%;                 
    height: 100%;                
    object-fit: cover;           
}


/* --------------------------------------------------------------------------------------------------------------- */

.recent{
    margin-left: 30px;
    /* margin-right: 30px; */
}
.grid-recent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 40px;
    
}
.grid-recent div{
    border: border;       
    border-radius: 10px;         
    transition: transform 0.5s;   
    box-shadow: 0 4px 10px rgba(123, 122, 122, 0.2); 
    overflow: hidden;  
    /* height: 120px; */
    
}

.grid-recent div:hover{
    transform: scale(1.05); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}

.grid-temp img {
    width: 100%;                 
    height: 100%;                
    object-fit: cover;           
}
.recent1 {
    position: relative;
    
}
.recent1 img{
    filter: blur(2%);
    
}
.overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5); 
    /* border-radius: 5px; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px;
}
/* --------------------------------tip&tricks-------------------------------------- */
.box{
    display: flex;
    margin-left:40px ;
    width:900px ;
    height: 250px;
    border: border;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(133, 132, 132, 0.5);
    
}
.tip-img-box{
    width: 600px;
    height: 245px;
    border: border;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(133, 132, 132, 0.5);
}

.box-tip{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.box-tip i{
    padding-left: 95%;
}
