/* 

.property-input
{
    background-color: #D9D9D9;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

.property-input>input   
{
    background-color: #D9D9D9;
    border-radius: 5px;
    border: 0px;

} */
input[type="color" i] {
    appearance: auto;
    inline-size: 25px;
    block-size: 25px;
    cursor: default;
    box-sizing: border-box;
    background-color: #D9D9D9;
    color: buttontext;
    border-width: 0px;
    border-image: initial;
    padding: 1px 2px;
    border-radius: 6px;
}
.color{
    background-color: #D9D9D9;
    height: 22px;
    width: 70px;
}

.fill-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .fill-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
  }
  
  #fillColorInput {
    width: 40px;
    height: 40px;
    border: none;
  }
  
  #fillDisplay {
    width: 120px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 14px;
  }