table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* text-align: left; */
  /* position:absolute; */
}

th,
td {
  border: 1px solid black;
  cursor: pointer;
  width: 10%;
  height: 10%;
  pointer-events: auto;
  user-select: text;
  position: static;
  overflow: visible;
  color: #000;
  line-height: normal;
  padding: 3%;
}



/* Highlight selected cells */
.selected {
  background-color: skyblue;
  outline: none;
  text-align: left;
}



#right {
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  visibility: hidden;
  position: fixed;
}
